@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}


/* Variables globales */
:root {
    /* Colores */
    --accent-color  : #ff0000;
    --grey-color    : #909090;
    --grey-color-alt: #CCC;
    --border-color  : rgba(0, 0, 0, 0.1);

    /* Colores de fondo */
    --bg-color       : #fff;
    --bg-color-alt   : #f9f9f9;
    --bg-color-active: #e5e5e5;

    /* Colores de texto */
    --text-color      : #030303;
    --text-color-alt  : #606060;
    --text-color-white: #fff;

    /* Fuentes */
    --body-font: 'Roboto', sans-serif;
    --icon-font: 'icomoon';

    /* Tamaño de texto */
    --big-font-size    : 1.125rem; /* 18px */
    --normal-font-size : 1rem; /* 16px */
    --small-font-size  : 0.875rem; /* 14px */
    --smaller-font-size: 0.75rem; /* 12px */
    --font-bold        : 500;

    /* Otros */
    --header-height: 56px;   
    --z-tooltip    : 25;
    --z-fixed      :100;
}


body {
    font-family: var(--body-font);
}


h1,h2,h3,h4,h5,h6, b {
    font-weight: var(--font-bold);
}


button {
    font-family: var(--body-font);
}


img {
    width: 100%;
}


.place-center {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.buttons-container {
    display: flex;
    gap: 0.5rem;
}


/* Cabecera principal del título */
.main-header {
    position       : fixed;
    width          : 100%;
    left           : 0;
    top            : 0;
    display        : flex;
    justify-content: space-between;
    padding        : 0 1rem;
    align-items    : center;
    height         : var(--header-height);
    /* background     : red; */
    z-index        : var(--z-fixed);
}

.main-header .start .action-button {
    margin-right: 1rem;
}
.main-header .logo {
    width: 6rem;
    cursor: pointer;
}


/* Avatar del usuario */
.user-avatar {
    --size: 2rem;
    width : var(--size);
    height: var(--size);
    cursor: pointer;
    flex  : none; 
}

/* Si queremos cambiar el tamaño, sobreescrbir la variable --size
Ejemplo:
.user-avatar {
    --size: 4rem;
}
 */

.user-avatar .image {
    width        : 100%;
    height       : 100%;
    object-fit   : cover;
    border-radius: 50%;
}


/* Botones de acción (del header) */
.action-button {
    --size       : 2.5rem;
    height       : var(--size);
    width        : var(--size);
    border-radius: 50%;
    border       : 1px solid transparent;
    background   : none;
    cursor: pointer;
    transition   : border-color 0.25s;
}

.action-button::before {
    color    : var(--text-color-alt);
    font-size: 1.5rem;
}

.action-button:active {
    background-color: var(--bg-color-active);
    border-color    : var(--bg-color-active);
}
